<fieldset
  class="fieldset w-full bg-base-200 border border-base-300 p-4 rounded-box"
>
  <legend class="fieldset-legend">Pesquisa de filmes</legend>
  <div class="join">
    <input
      data-testid="inputText-searchBar"
      type="text"
      class="input join-item"
      placeholder="Nome do filme"
      [(ngModel)]="inputText"
    />
    <button
      data-testid="searchBtn-searchBar"
      class="btn join-item"
      (click)="onSearch()"
    >
      Pesquisar
    </button>
  </div>
</fieldset>
